<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>
    <form onsubmit="addNewExpenses(event)">

        <label for="expense">Add Expense</label>
        <input type="number" name="expense" required>

        <label for="description">Add description</label>
        <input type="text" name="description" required>

        <label for="category">Category</label>
        <select name="category">
            <option value="1">Fuel</option>
            <option value="2">Medicine</option>
            <option value="3">Groceries</option>
            <option value="4">Other</option>
        </select>
        <button>Add</button>
    </form>
    <div id="message"></div>
    <button id="razorPayButton">Buy Premium</button>

    <button id="downloadExpenseButton" style="visibility: hidden;">Download</button>

    <button id="dailyExpense" style="visibility: hidden;">Daily Expense</button>
    <button id="monthlyExpense" style="visibility: hidden;">Monthly Expense</button>
    <button id="yearlyExpense" style="visibility: hidden;">Yearly Expense</button>
    
    <p id="premiumUserMessage"></p>
    <hr>

    
    <ul id="expenseList"></ul>
    <ul id="dailyexpenseList"></ul>
    <ul id="yearlyexpenseList"></ul>

    <h1 id="nameOfUser"></h1>
    <div id="manifest"></div>
    <div style="position: fixed; bottom: 0; width: 100%; background-color: #f0f0f0; padding: 20px; text-align: center;">
        <div id="pagination"></div>
        <select name="dynamicpagination" id="dynamicpagination"
            style="position: fixed; bottom: 10px; right: 20px; background-color: #f0f0f0; padding: 10px;">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </div>

    <h1 id="downloadHistoryListHeading"></h1>
    <ul id="downloadHistoryList"></ul>
    <div id="LeaderBoardText"></div>
    <ul id="leaderboard"></ul>
    <script src="/js/addExpense.js"></script>
</body>

</html>