<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <form onsubmit="addNewExpenses(event)">

        <label for="expense">Add Expense</label>
        <input type="number" name="expense" required>

        <label for="description">Add description</label>
        <input type="text" name="description" required>

        <label for="category">Category</label>
        <select name="category">
            <option value="1">Fuel</option>
        </select>
        <button>Add</button>
    </form>
    <hr>

    <div id="manifest">

    </div>
    <script>

        // const urlParams = new URLSearchParams(window.location.search); //function to fetch the value from url 
        // const id = urlParams.get('id');
        // console.log("------------------------------",id);

        //will be envoked by onclick from form
        function addNewExpenses(e) {
            e.preventDefault();
            const expenseDetails = {
                expense: e.target.expense.value,
                description: e.target.description.value,
                category: e.target.category.value,
            }
            console.log(expenseDetails);//checking the object of details

            //sending post call to store details in database
            axios.post('http://localhost:3000/expense/addExpense', expenseDetails).then((response) => {
                if (response.status === 201) {
                    fetchDataFromDatabase(); //fetching the data from database (retrieving).
                } else {
                    console.log("err");
                }
            });
        };


        function fetchDataFromDatabase() { //function to get/fetch data from database
            const token = localStorage.getItem('token');
            axios.get('http://localhost:3000/expense/getExpenses',{headers: {"Authorization":token}}).then((response) => {
                showDataFromDatabase(response.data.expenses); //sending to function to display the data, check controller - how json is sending data to html
            }).catch(err => console.log(err));
        }

        function showDataFromDatabase(expense) { //function to display data
            const manifest = document.getElementById('manifest');
            manifest.innerHTML = '';
            expense.forEach((element) => {
                let string = `<li> ID: ${element.id} Expense: ${element.expense} Category: ${element.category} Description: ${element.description} userID: ${element.userId} <button onclick="deleteExpense(${element.id})"> Delete </button> </li>`;
                manifest.innerHTML += string;
            });
        }

        async function deleteExpense(id) {
            const response = await axios.delete(`http://localhost:3000/expense/deleteExpense/${id}`);
            if (response.status === 204) {
                fetchDataFromDatabase();
                console.log("Deleted");
            }
        }

        fetchDataFromDatabase();//calling function (function call).
    </script>
</body>

</html>