<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <form id="forgotpassword">

        <label for="name">Name:
            <input type="text" id="name">
        </label>

        <label for="email">Email:
            <input type="email" id="email" required>
        </label>
        <button>Submit</button>
    </form>
    <div id="successfullText">
            
    </div>
    <script src="/js/forgotPassword.js"></script>
</body>
</html>