<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <form id="loginForm" >
            <label for="name">Enter Name:</label>
            <input type="text" name="name" id="name" required>
            <label for="email">Enter Email:</label>
            <input type="text" name="email" id="email" required>
            <label for="password">Enter Password</label>
            <input type="password" name="password" id="password" required>
            <button>Log in</button>
        </form>
        <a href="/user/signup">Sign up</a>
        <hr>
        <div id="manifest">

        </div>
    </div>
    <script>
        const loginForm = document.getElementById('loginForm');
        loginForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(loginForm);
            const name = formData.get('name');
            const email = formData.get('email');
            const password = formData.get('password');

            //so to input fields get emptied once signed up.
            const EmptyNameField = document.getElementById('name');
            const EmptyEmailField = document.getElementById('email');
            const EmptyPasswordField = document.getElementById('password');

            try {
                const responseFromPost = await axios.post('http://localhost:3000/user/loggedin', {
                    name, email, password
                });

                const manifest = document.getElementById('manifest');

                if (responseFromPost.status === 200) {
                    manifest.innerHTML = `<p> Logged in Successful </p>`;
                    EmptyNameField.value = "" ; //field gets empty
                    EmptyEmailField.value = "" ; //field gets empty
                    EmptyPasswordField.value = "" ; //field gets empty
                    window.location.href = '/expense/addExpense';
                    
                } else {
                    manifest.innerHTML = `<p> Error in logging </p>`;
                    EmptyNameField.value = "" ; //field gets empty
                    EmptyEmailField.value = "" ; //field gets empty
                    EmptyPasswordField.value = "" ; //field gets empty
                }
            } catch (error) {
                const manifest = document.getElementById('manifest');
                manifest.innerHTML = `<p> Error in logging: ${error.response.data.error}</p>`;
                EmptyNameField.value = "" ; //field gets empty
                EmptyEmailField.value = "" ; //field gets empty
                EmptyPasswordField.value = "" ; //field gets empty
            }
        });
    </script>
</body>

</html>