<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <form id="signUpForm">
            <label for="name">Enter Name:</label>
            <input type="text" name="name" required id="name">
            <label for="email">Enter Email:</label>
            <input type="text" name="email"  required id="email">
            <label for="password">Enter Password</label>
            <input type="password" name="password" required id="password">
            <button>Sign Up</button>
        </form>
        <form action="/user/login"> <button>Login</button></form>
        <hr>
        <div id="manifest">

        </div>
    </div>
    <script src="/js/signup.js"></script>
</body>

</html>