<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form id="signUpForm">
            <div class="form-group">
                <label for="name">Enter Name:</label>
                <input type="text" name="name" required id="name">
            </div>
            <div class="form-group">
                <label for="email">Enter Email:</label>
                <input type="text" name="email" required id="email">
            </div>
            <div class="form-group">
                <label for="password">Enter Password</label>
                <input type="password" name="password" required id="password">
            </div>
            <button class="signup-button">Sign Up</button>
        </form>
        <form action="/user/login">
            <button class="login-button">Login</button>
        </form>
        <hr>
        <div id="manifest">
        </div>
    </div>
    <script src="/js/signup.js"></script>
</body>

</html>
