<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <form id="signUpForm">
            <label for="name">Enter Name:</label>
            <input type="text" name="name" required id="name">
            <label for="email">Enter Email:</label>
            <input type="text" name="email"  required id="email">
            <label for="password">Enter Password</label>
            <input type="password" name="password" required id="password">
            <button>Sign Up</button>
        </form>
        <form action="/user/login"> <button>Login</button></form>
        <hr>
        <div id="manifest">

        </div>
    </div>
    <script>

        const signUpForm = document.getElementById('signUpForm');

        signUpForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(signUpForm);
            const name = formData.get('name');
            const email = formData.get('email');
            const password = formData.get('password');
            const object = {
                name,
                email,
                password
            }
            
            //so to input fields get emptied once signed up.
            const EmptyNameField = document.getElementById('name');
            const EmptyEmailField = document.getElementById('email');
            const EmptyPasswordField = document.getElementById('password');


            try {
                const response = await axios.post('http://localhost:3000/user/login', object);

                if (response.status === 201) {
                    const manifest = document.getElementById('manifest');
                    manifest.innerHTML = `<p>User : ${response.statusText}</p>`;
                    EmptyNameField.value = "" ; //field gets empty
                    EmptyEmailField.value = "" ; //field gets empty
                    EmptyPasswordField.value = "" ; //field gets empty
                }
            } catch (err) {
                console.log(err);
                const manifest = document.getElementById('manifest');
                manifest.innerHTML = `<p>Error: ${err.message}</p><span style="color:red;"> User Already Exists </span> `;
                EmptyNameField.value = "" ; //field gets empty
                EmptyEmailField.value = "" ; //field gets empty
                EmptyPasswordField.value = "" ; //field gets empty
                
            }
        
        });


    </script>
</body>

</html>